div.accordion  p{
  text-align: center;
  font-weight: 400;
  font-size: xx-large;
  padding: 0px;
  margin: 0px;
}
div.accordion  button{
  width: 100px;
  height: 35px;
  color: #fff;
  padding: 10px 25px;
  font-weight: 300;
  background: #81daf0;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(255, 255, 255, 0.1),
   4px 4px 5px 0px rgba(255, 254, 254, 0.1);
  outline: none;
  border: 0px;

}



.accordion {
    background-color: #ade4ee;
    color: #000000;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    transition: 0.4s;
  }
  body{
    margin: 0px;
    padding: 0px;
    
  }
  .active, .accordion:hover {
    background-color: #81daf0;
  }
  
  .accordion:after {
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .dropdown {
  display: inline-block;
  position: relative;
  background-color: #444;
  font-weight: 100;

}
.dropdown-content {
  margin-left: 9.2rem;
  display: none;
  position: absolute;
  width: 150%;
  overflow: auto;
  box-shadow: 0px 20px 20px 0px rgba(0,0,0,0.4);
  background-color: #cfcece;

}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: #080707;
  background-color: #00A4BD;
} 